#title{
    display: flex;
	justify-content: center;
	align-items: center;
}

.container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 85vh;
    flex-wrap: wrap;
    flex-direction: column;
}

#playButtonContainer{
    margin-bottom: 4.5em;
}

#playButton{
    border: solid 5px black;
    border-radius: 46px;
    padding: 1em;
    font-size: 1.5rem;
    color: black;
    text-decoration: none;
}

#playButton:hover{
    font-size: 1.75rem;
}

#gameboard {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(3, 1fr);
	width: 62%;
	height: 29%;
}

.boardSelectionLayout {
	display: flex;
	justify-content: center;
	align-items: center;
    font-size: 2rem;
}

#zero {
	border-bottom: black solid 5px;
	border-right: black solid 5px;
}

#one {
	border-bottom: black solid 5px;
	border-right: black solid 5px;
}
#two {
	border-bottom: black solid 5px;
}
#three {
	border-bottom: black solid 5px;
	border-right: black solid 5px;
}
#four {
	border-bottom: black solid 5px;
	border-right: black solid 5px;
}
#five {
	border-bottom: black solid 5px;
}
#six {
	border-right: black solid 5px;
}
#seven {
	border-right: black solid 5px;
}
